<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
        <style>
            .img-wrap {
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 5px;
                width: 250px;
                height: 250px;
                background-size: cover;
                background-position: center;
            }

            .img-wrap:hover {
                box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            }

            .table-responsive {
                max-height: 500px;
            }
        </style>
</head>

<body>
    <main>
        <div class="container-fluid">
            <div class="row">

                <div class="col-3">
                    <div class="card">
                        <div class="bg-light card-header">Upload your avatar</div>
                        <div class="card-body">
                            <form method="POST" action="/files" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="col-12">
                                        <input type="file" class="form-control"
                                            accept="image/x-png,image/gif,image/jpeg,image/bmp" name="avatar">
                                        <br>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card">
                        <div class="bg-light card-header">Files</div>
                        <div class="card-body table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>File</th>
                                        <th>Size</th>
                                        <th>Created</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% files.forEach(function(file) { %>
                                        <tr>
                                            <td>
                                                <div style="display: flex;">
                                                    <span>
                                                        <button class="btn btn-link avatarImg"
                                                            data-filename="<%= file.name %>">
                                                            <%= file.name %>
                                                        </button>
                                                    </span>
                                                    <span style="margin: auto 0 auto auto;">
                                                        <form action="/files/delete/<%= file.name %>" method="POST">
                                                            <button class="btn btn-danger fa fa-trash-o" type="submit"
                                                                style="font-size:18px">
                                                            </button>
                                                        </form>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <%= file.size %>
                                            </td>
                                            <td>
                                                <%= file.createdAt %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card">
                        <div class="bg-light card-header">Preview</div>
                        <div class="card-body">
                            <img class="previewEle img-wrap" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <script>
        const onDomLoaded = (e) => {
            const avatarsRef = document.querySelectorAll('.avatarImg');
            const previewEleRef = document.querySelector('.previewEle');

            const onAvatarPreviewClick = (event) => {
                const fileName = event.currentTarget.getAttribute('data-filename');
                try {
                    previewEleRef.setAttribute('src', `/files/${fileName}`);
                } catch (err) {
                    console.error('Cannot serve avatar image ', err.message);
                }
            };

            // Bind click events for each avatar
            [...avatarsRef].forEach(x => {
                x.addEventListener('click', onAvatarPreviewClick);
            });



        };

        window.addEventListener('DOMContentLoaded', onDomLoaded);
    </script>

</body>

</html>